<div>table</div>
<div>
  <li *ngFor="let row of rows">
        {{ row }}
  </li>
</div>
<div *ngFor="let result of rounds | async">
  <div class="row">
    <div class="col-sm-10">{{ result.round }}</div>
    <div class="col-sm-10">{{ result.date }}</div>
  </div>
  <div *ngFor="let match of result.matches">
    <div class="row">
      <div class="col-sm-10">{{ match.startTime }}</div>
      <div class="col-sm-10">{{ match.team1 }}</div>
      <div class="col-sm-10">{{ match.result }} ({{ match.halfResult }})</div>
      <div class="col-sm-10">{{ match.team2 }}</div>
    </div>
  </div>
</div>