/* You can add global styles to this file, and also import other style files */
body {
  color: green;
}

body rt-table {
  color: blue;
}

app-root {
  width: 80%;
  margin: 0px 10%;
  height: 100%;
  display: block;
}